---
const highlights = [
  {
    title: "LLM Tuning via HuggingFace SFT Trainer",
    tags: ["advanced", "algorithm", "huggingface", "llm"],
    description: "Example for using FLARE with a HuggingFace trainer for LLM tuning tasks.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/llm_hf"
  },
  {
    title: "Survival Analysis with Federated Kaplan-Meier",
    tags: ["intermediate", "algorithm", "healthcare", "client-api", "model-controller-api", "homomorphic-encryption", "analytics"],
    description:
      "Kaplan-Meier survival analysis in federated setting without and with secure features via time-binning and Homomorphic Encryption (HE).",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/kaplan-meier-he",
  },
  {
    title: "Real-world Federated Learning with CIFAR-10",
    tags: ["intermediate", "algorithm", "poc", "pytorch", "learner", "deep-learning", "homomorphic-encryption"],
    description: "Provisioning secure workspace and running FedAvg with streaming of TensorBoard metrics to the server during training and homomorphic encryption.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/cifar10/cifar10-real-world/README.md"
  },
  {
    title: "Financial Application with Federated XGBoost Methods",
    tags: ["advanced", "algorithm", "xgboost", "finance"],
    description: "Example using XGBoost in vertical and horizontal approaches to train a federated model to perform fraud detection with a finance dataset.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/finance"
  },
  {
    title: "Swarm Learning",
    tags: ["intermediate", "algorithm", "pytorch", "learner", "deep-learning"],
    description:
      "Example using Swarm Learning and Client-Controlled Cross-site Evaluation workflows.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/swarm_learning",
  }
]

const tutorials = [
  {
    title: "Intro to the FL Simulator",
    tags: ["beginner", "tools"],
    description: "Use the FLARE Simulator to run a local simulation with multi-process settings within a single computer, offering quick response and debugging.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/tutorials/flare_simulator.ipynb"
  },
  {
    title: "NVFLARE in POC Mode",
    tags: ["beginner", "tools"],
    description: "Proof-of-concept mode to simulate real-world deployment on a local host with different processes represent server, clients, and an admin console.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/tutorials/setup_poc.ipynb"
  },
  {
    title: "Running FLARE in Docker",
    tags: ["beginner", "deployment"],
    description:
      "Launch FLARE server and cleints with docker compose using the DockerBuilder.",
    link: "https://nvflare.readthedocs.io/en/main/user_guide/docker_compose.html",
  },
  {
    title: "FLARE API",
    tags: ["beginner", "tools"],
    description: "Manage system and jobs programmatically with the python FLARE API.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/tutorials/flare_api.ipynb"
  },
  {
    title: "Job CLI",
    tags: ["beginner", "tools"],
    description: "Job CLI for options to create and submit jobs from a command line interface in POC or production environments.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/tutorials/job_cli.ipynb"
  },
  {
    title: "Operating FLARE: Admin Client, Commands, FLARE API",
    tags: ["intermediate", "tools"],
    description:
      "Operate FLARE with the commands and functionalities of the admin client, which allow you to manage your FLARE system.",
    link: "https://nvflare.readthedocs.io/en/main/real_world_fl/operation.html",
  },
  {
    title: "FL Experiment Tracking with TensorBoard Streaming",
    tags: ["intermediate", "tools", "pytorch"],
    description: "Example integrating FLARE with TensorBoard streaming capability from clients to the server.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/experiment-tracking/tensorboard/README.md"
  },
  {
    title: "FL Experiment Tracking with MLflow",
    tags: ["intermediate", "tools", "pytorch"],
    description: "Example integrating FLARE with MLflow streaming capability from clients to the server.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/experiment-tracking/mlflow/README.md"
  },
  {
    title: "FL Experiment Tracking with Weights and Biases",
    tags: ["intermediate", "tools", "pytorch"],
    description: "Example integrating FLARE with Weights and Biases streaming capability from clients to the server.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/experiment-tracking/wandb/README.md"
  },
  {
    title: "Cloud Deployment",
    tags: ["advanced", "deployment"],
    description:
      "Deploy the FLARE dashboard, server, and clients in the cloud. Learn to use the provided scripts for AWS and Azure.",
    link: "https://nvflare.readthedocs.io/en/main/real_world_fl/cloud_deployment.html",
  },
  {
    title: "Deployment to Kubernetes",
    tags: ["advanced", "deployment"],
    description:
      "Run FLARE inside Amazon Elastic Kubernetes Service (EKS).",
    link: "https://nvflare.readthedocs.io/en/main/real_world_fl/kubernetes.html",
  },
  {
    title: "Helm Chart Deployment",
    tags: ["advanced", "deployment"],
    description:
      "Use the provisioning tool's HelmChartBuilder to generate a reference Helm Chart to deploy FLARE to a local microk8s Kubernetes instance.",
    link: "https://nvflare.readthedocs.io/en/main/user_guide/helm_chart.html",
  },
  {
    title: "Secure Provisioning",
    tags: ["advanced", "deployment"],
    description:
      "Utilize the secure provisioning tool for streamlining the process to provision, start, and operate federated learning with a trusted setup.",
    link: "https://nvflare.readthedocs.io/en/main/real_world_fl/overview.html",
  },
  {
    title: "Preflight Check",
    tags: ["advanced", "deployment"],
    description:
      "Perform preliminary checks before starting up an NVFlare subsystem to catch errors early.",
    link: "https://nvflare.readthedocs.io/en/main/user_guide/nvflare_cli/preflight_check.html",
  },
  {
    title: "FLARE Dashboard",
    tags: ["advanced", "deployment"],
    description:
      "Provides a CLI or UI to collect information of clients and users from different organizations, and generates startup kits with keys and certificates for users to download.",
    link: "https://nvflare.readthedocs.io/en/main/user_guide/dashboard_api.html",
  },
  {
    title: "Federated Policies",
    tags: ["advanced", "deployment"],
    description: "Example to demonstrate the federated site policies for authorization, resource and data privacy management.",
    link: "https://github.com/NVIDIA/NVFlare/blob/main/examples/advanced/federated-policies/README.rst"
  },
  {
    title: "Custom Authentication",
    tags: ["advanced", "deployment"],
    description: "Example to demonstrate the custom authentication policy and secure mode.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/custom_authentication/README.rst"
  },
  {
    title: "Job-Level Authorization",
    tags: ["advanced", "deployment"],
    description: "Example to demonstrate the job-level authorization policy and secure mode.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/job-level-authorization/README.md"
  },
  {
    title: "Federated Learning Hub",
    tags: ["advanced", "deployment"],
    description: "Allow hierarchical interaction between several levels of FLARE FL systems, e.g. Tier-1 (hub) and Tier-2 (sub-systems).",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/fl_hub/README.md"
  },
  {
    title: "Step-by-Step CIFAR10 Examples",
    tags: ["beginner", "algorithm", "pytorch", "deep-learning"],
    description: "Step-by-step examples series with CIFAR-10 (image data) to showcase different FLARE features, workflows, and APIs.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/step-by-step/cifar10"
  },
  {
    title: "Step-by-Step HIGGS Examples",
    tags: ["beginner", "algorithm", "pandas", "sklearn", "xgboost"],
    description: "Step-by-step examples series with HIGGS (tabular data) to showcase different FLARE features, workflows, and APIs.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/step-by-step/higgs"
  },
  {
    title: "ML/DL to FL",
    tags: ["beginner", "algorithm", "client-api", "numpy", "pytorch", "lightning", "tensorflow"],
    description: "Example for converting Deep Learning (DL) code to Federated Learning (FL) using the Client API. Configurations for numpy, pytorch, lighting, and tensorflow.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/ml-to-fl"
  },
  {
    title: "Hello Scatter and Gather",
    tags: ["beginner", "algorithm", "numpy", "controller", "executor"],
    description: "Example using the ScatterAndGather workflow to implement Federated Averaging.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/hello-numpy-sag/README.md"
  },
  {
    title: "Hello Cross-Site Validation",
    tags: ["beginner", "algorithm", "numpy", "controller", "executor", "deep-learning"],
    description: "Example using the CrossSiteModelEval workflow for cross site evaluation. Demonstrate option to use previous results without training workflow.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/hello-numpy-cross-val/README.md"
  },
  {
    title: "Hello Cyclic Weight Transfer",
    tags: ["beginner", "algorithm", "tensorflow", "controller", "executor", "deep-learning"],
    description: "Example using the CyclicController workflow to implement Cyclic Weight Transfer.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/hello-cyclic/README.md"
  },
  {
    title: "Hello PyTorch",
    tags: ["beginner", "algorithm", "pytorch", "controller", "executor", "deep-learning"],
    description: "Example of an image classifier with FedAvg using PyTorch as the deep learning training framework.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/hello-pt/README.md"
  },
  {
    title: "Hello TensorFlow",
    tags: ["beginner", "algorithm", "tensorflow", "controller", "executor", "deep-learning"],
    description: "Example of an image classifier with FedAvg using TensorFlow as the deep learning training framework.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/hello-world/hello-tf2/README.md"
  },
  {
    title: "Simulated Federated Learning with CIFAR-10",
    tags: ["intermediate", "algorithm", "simulator", "pytorch", "learner", "model-controller-api", "deep-learning"],
    description: "Running FedAvg, FedProx, FedOpt, and SCAFFOLD algorithms using the FL simulator.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/cifar10/cifar10-sim/README.md"
  },
  {
    title: "Real-world Federated Learning with CIFAR-10",
    tags: ["intermediate", "algorithm", "poc", "pytorch", "learner", "deep-learning", "homomorphic-encryption"],
    description: "Provisioning secure workspace and running FedAvg with streaming of TensorBoard metrics to the server during training and homomorphic encryption.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/cifar10/cifar10-real-world/README.md"
  },
  {
    title: "Logistic Regression with Newton-Raphton",
    tags: ["intermediate", "algorithm", "client-api", "model-controller-api", "machine-learning"],
    description:
      "Federated binary classification via logistic regression with second-order Newton-Raphson optimization.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/lr-newton-raphson",
  },
  {
    title: "Survival Analysis with Federated Kaplan-Meier",
    tags: ["intermediate", "algorithm", "healthcare", "client-api", "model-controller-api", "homomorphic-encryption", "analytics"],
    description:
      "Kaplan-Meier survival analysis in federated setting without and with secure features via time-binning and Homomorphic Encryption (HE).",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/kaplan-meier-he",
  },
  {
    title: "Swarm Learning",
    tags: ["intermediate", "algorithm", "pytorch", "learner", "deep-learning"],
    description:
      "Example using Swarm Learning and Client-Controlled Cross-site Evaluation workflows.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/swarm_learning",
  },
  {
    title: "Federated Linear Model with Scikit-learn",
    tags: ["intermediate", "algorithm", "sklearn", "machine-learning"],
    description: "Using scikit-learn for federated linear model learning on tabular data.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/sklearn-linear/README.md"
  },
  {
    title: "Federated K-Means Clustering with Scikit-learn",
    tags: ["intermediate", "algorithm", "sklearn", "machine-learning"],
    description: "Using scikit-learn and k-Means for federated clustering on tabular data.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/sklearn-kmeans/README.md"
  },
  {
    title: "Federated SVM with Scikit-learn",
    tags: ["intermediate", "algorithm", "sklearn", "machine-learning"],
    description: "Using scikit-learn and SVM for federated model learning on tabular data.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/sklearn-svm/README.md"
  },
  {
    title: "Histogram-based FL for XGBoost",
    tags: ["advanced", "algorithm", "xgboost", "machine-learning"],
    description: "Histogram-based algorithm for XGBoost.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/xgboost/histogram-based/README.md"
  },
  {
    title: "Tree-based Federated Learning for XGBoost",
    tags: ["advanced", "algorithm", "xgboost", "machine-learning"],
    description: "Tree-based algorithms including bagging and cyclic approaches for XGBoost.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/xgboost/tree-based/README.md"
  },
  {
    title: "Federated Learning for Random Forest based on XGBoost",
    tags: ["advanced", "algorithm", "xgboost", "machine-learning"],
    description: "Example of using FLARE with scikit-learn and Random Forest.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/random_forest/README.md"
  },
  {
    title: "Federated Vertical XGBoost",
    tags: ["advanced", "algorithm", "xgboost", "machine-learning"],
    description: "Example using Private Set Intersection and XGBoost on vertically split HIGGS data.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/vertical_xgboost/README.md"
  },
  {
    title: "NVFlare + MONAI integration",
    tags: ["advanced", "algorithm", "healthcare", "monai", "deep-learning"],
    description: "Using FLARE to train a 3D medical image analysis model using federated averaging (FedAvg) and MONAI Bundle.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/integration/monai/README.md"
  },
  {
    title: "Federated Learning with Differential Privacy for BraTS18 segmentation",
    tags: ["advanced", "algorithm", "healthcare", "differential-privacy", "monai", "deep-learning"],
    description: "Illustrates the use of differential privacy for training brain tumor segmentation models using federated learning.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/brats18/README.md"
  },
  {
    title: "Federated Learning for Prostate Segmentation from Multi-source Data",
    tags: ["advanced", "algorithm", "healthcare", "monai", "deep-learning"],
    description: "Example of training a multi-institutional prostate segmentation model using FedAvg, FedProx, and Ditto.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/prostate/README.md"
  },
  {
    title: "Federated Statistics for Images",
    tags: ["advanced", "algorithm", "pandas", "analytics"],
    description: "Example of gathering local image histogram to compute the global dataset histograms.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/federated-statistics/image_stats/README.md"
  },
  {
    title: "Federated Statistics for DataFrame",
    tags: ["advanced", "algorithm", "pandas", "analytics"],
    description: "Example of gathering local statistics summary from Pandas DataFrame to compute the global dataset statistics.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/federated-statistics/df_stats/README.md"
  },
  {
    title: "MONAI FLARE Integration Experiment Tracking",
    tags: ["advanced", "algorithm", "experiment-tracking", "monai"],
    description: "Example using FLARE and MONAI integration with experiment tracking streaming from clients to server.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/integration/monai/examples/spleen_ct_segmentation_local/README.md#51-experiment-tracking-with-mlflow"
  },
  {
    title: "KeyCloak Site Authentication Integration",
    tags: ["advanced", "algorithm", "security"],
    description: "Demonstrate KeyCloak integration for supporting site-specific authentication.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/keycloak-site-authentication/README.md"
  },
  {
    title: "NLP-NER",
    tags: ["advanced", "algorithm", "huggingface", "deep-learning"],
    description: "Illustrates both BERT and GPT-2 models from Hugging Face on a Named Entity Recognition (NER) task using the NCBI disease dataset.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/nlp-ner/README.md"
  },
  {
    title: "Parameter Efficient Fine Turning",
    tags: ["advanced", "algorithm", "nemo", "llm"],
    description: "Example utilizing NeMo's PEFT methods to adapt a LLM to a downstream task.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/integration/nemo/examples/peft"
  },
  {
    title: "Prompt-Tuning Example",
    tags: ["advanced", "algorithm", "nemo", "llm"],
    description: "Example for using FLARE with NeMo for LLM prompt learning.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/integration/nemo/examples/prompt_learning"
  },
  {
    title: "Supervised Fine Tuning (SFT)",
    tags: ["advanced", "algorithm", "nemo", "llm"],
    description: "Example to fine-tune all parameters of a LLM on supervised data.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/integration/nemo/examples/supervised_fine_tuning"
  },
  {
    title: "LLM Tuning via HuggingFace SFT Trainer",
    tags: ["advanced", "algorithm", "huggingface", "llm"],
    description: "Example for using FLARE with a HuggingFace trainer for LLM tuning tasks.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/llm_hf"
  },
  {
    title: "Federated GNN: Protein Classification",
    tags: ["advanced", "algorithm", "healthcare", "pytorch", "deep-learning"],
    description: "Example using GNNs for Protein Classification using PPI dataset using GraphSAGE.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/gnn#federated-gnn-on-graph-dataset-using-inductive-learning"
  },
  {
    title: "Federated GNN: Financial Transaction Classification",
    tags: ["advanced", "algorithm", "finance", "pytorch", "deep-learning"],
    description: "Example using GNNs for Financial Transaction Classification with Elliptic++ dataset using GraphSAGE.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/gnn#federated-gnn-on-graph-dataset-using-inductive-learning"
  },
  {
    title: "Financial Application with Federated XGBoost Methods",
    tags: ["advanced", "algorithm", "xgboost", "finance"],
    description: "Example using XGBoost in vertical and horizontal approaches to train a federated model to perform fraud detection with a finance dataset.",
    link: "https://github.com/NVIDIA/NVFlare/tree/main/examples/advanced/finance"
  },
]

const level = ["beginner", "intermediate", "advanced"];
const tutorial_category = ["algorithm", "tools", "deployment"]
const flare_api = ["client-api", "model-controller-api", "learner", "executor", "controller"];
const framework = ["pytorch", "tensorflow", "lightning", "xgboost", "sklearn", "numpy", "nemo", "monai", "huggingface"];
const application_type = ["machine-learning", "deep-learning", "llm", "analytics"];
const industry_domain = ["healthcare", "finance"];
const privacy_algorithm = ["homomorphic-encryption", "differential-privacy"];

const tag_list = [
  {
      name: "Experience Level",
      id: "level",
      list: level,
  },
  {
      name: "Tutorial Category",
      id: "tutorial-category",
      list: tutorial_category,
  },
  {
      name: "Application Type",
      id: "application-type",
      list: application_type,
  },
  {
      name: "Framework",
      id: "framework",
      list: framework,
  },
  {
      name: "Industry Domain",
      id: "industry-domain",
      list: industry_domain,
  },
  {
      name: "FLARE API",
      id: "flare-api",
      list: flare_api,
  },
  {
      name: "Privacy Algorithm",
      id: "privacy-algorithm",
      list: privacy_algorithm,
  },
]

---

<div class="bg-white py-16 sm:py-16">
  <div class="mx-auto max-w-[1600px] px-6 lg:px-8">
    <div class="mx-auto max-w-5xl mt-10 flex justify-left">
      <a href="/NVFlare" class="text-sm font-semibold leading-6 text-nvidia">
        <span aria-hidden="true">&larr;</span>
        Back to home
      </a>
    </div>
    <!-- Tutorial Catalog Title & Description -->
    <div class="mx-auto max-w-5xl mt-16 md:mt-0 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Tutorial Catalog
      </h2>
      <p class="text-lg mt-4 text-slate-600 w-3/4 m-auto">
        Explore our extensive catalog of tutorials of FLARE features and examples for various applications.
        Use the tags to filter by categories such as level, applications, frameworks, etc.
        or search for keywords.

        To read more, visit our
        <a class="text-nvidia" href="https://nvflare.readthedocs.io/en/main/index.html">documentation</a> and
        <a class="text-nvidia" href="https://github.com/NVIDIA/NVFlare/tree/main/examples">GitHub</a>.
      </p>
    </div>

    <div class="mx-auto max-w-[1600px] py-4 text-left inline-flex">

      <div class="flex-column h-fit border-r border-transparent w-52 mr-12">
        <!-- Search Bar -->
        <form class="flex mb-4">
          <label for="search-bar" class="sr-only">Search</label>
            <div class="relative w-full">
              <svg class="absolute left-4 top-1/2 -translate-y-1/2 w-4 h-4 stroke-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
              <input type="text" id="search-bar" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-nvidia focus:border-nvidia block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search keyword..." />
          </div>
        </form>
        <!-- Filter Categories -->
        <div id="filter-categories" class="ml-2 place-content-center" data-accordion="open" data-active-classes="bg-white dark:bg-gray-500 text-gray-500 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
            {
              tag_list.map((category) => (
                <div>
                  <h2 id={category.name} class="">
                    <button type="button" class="flex items-center justify-between mr-4 py-2 font-medium rtl:text-right text-gray-900 border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target={"#" + category.id} aria-expanded="true" aria-controls={category.id}>
                      <span>{category.name}</span>
                      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                      </svg>
                    </button>
                  </h2>
                  <div id={category.id} class="hidden flex flex-wrap gap-x-1 w-40" aria-labelledby={category.name}>
                    {category.list.map((tag) => (
                      <ul>
                        <input type="checkbox" id={tag} value="" class="check hidden peer" required=""/>
                        <label for={tag} class="inline-flex rounded-full peer-checked:bg-green-50 px-2.5 py-0.5 text-xs font-medium text-gray-500 ring-1 ring-inset ring-gray-600/20 peer-checked:ring-green-600/20 text-gray-500 bg-white border-1 border-transparent rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-nvidia hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-green-700 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                          {tag}
                        </label>
                      </ul>
                    ))}
                  </div>
                </div>
              ))
            }
        </div>
      </div>

      <!-- Tutorial Cards -->
      <div class="bg-white">

        <!-- Highlights -->
        <div class="bg-gray-50 max-w-5xl mx-auto mt-4 rounded-md">

          <!-- Highlights Accordion -->
          <div data-accordion="open" data-active-classes="dark:bg-gray-500 text-gray-500 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
            <h2 class="">
              <button type="button" class="flex items-center justify-between mr-4 py-2 font-medium rtl:text-right text-gray-900 border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#highlights-glide" aria-expanded="true" aria-controls="highlights-glide">
                <span class="ms-4">Highlights</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
          </div>

          <!-- Highlights Carousel -->
          <div id="highlights-glide" class="glide ps-12 pr-12 px-2 pb-8 bg-gray-50 rounded-3xl">
            <div class="glide__track" data-glide-el="track">
              <ul id="highlights-slides" class="glide__slides">
                {
                  highlights.map((tutorial) => (
                    <li class="slider__frame glide__slide w- mb-4 p-4 transition-shadow ease-in-out" role="presentation">
                      <div class="flex flex-col gap-1 divide-gray-200 rounded-lg bg-white shadow-md h-80">
                        <div>
                          <h3 class="font-semibold text-md px-4 pt-2 text-lg">
                            {tutorial.title}
                          </h3>
                          <div class="px-4 gap-x-2 flex-wrap items-center">
                            {tutorial.tags.map((tag) => (
                              <div class="inline-flex rounded-full bg-green-50 px-2.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                {tag}
                              </div>
                            ))}
                          </div>
                        </div>
                        <div class="flex-grow overflow-y-auto px-4">
                          <p class="text-slate-500 mt-2 leading-relaxed">
                            {tutorial.description}
                          </p>
                        </div>
                        <div class="h-14 flex-shrink-0 flex justify-center items-center border-t border-gray-200">
                          <a href={tutorial.link} class="rounded-bl-lg border border-transparent py-2 px-4 text-sm font-semibold text-gray-900">
                            Go to Tutorial
                          </a>
                        </div>
                      </div>
                    </li>
                  ))}
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <!-- Left Carousel Arrow -->
              <button class="glide__arrow glide__arrow--left left-0 shadow-none border-none" data-glide-dir="<">
                <svg class="stroke-gray-400 hover:stroke-nvidia w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m15 19-7-7 7-7"/>
                </svg>
              </button>
              <!-- Carousel Bullets -->
              <div id="highlights-bullets" class="glide__bullets" data-glide-el="controls[nav]">
                {
                  highlights.map((item, index) => (
                    <button class="glide__bullet h-3 w-3 bg-gray-200 ring-1 ring-gray-200 shadow-none" data-glide-dir={"="+index}></button>
                  ))
                }
              </div>
              <!-- Right Carousel Arrow -->
              <button class="glide__arrow glide__arrow--right right-0 shadow-none border-none" data-glide-dir=">">
                <div class="h-14 w-14 flex justify-center items-center">
                  <svg class="stroke-gray-400 hover:stroke-nvidia w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m9 5 7 7-7 7"/>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
        <!-- Tutorials wrapper -->
        <div id="tutorials-wrapper" class="max-w-5xl mx-auto grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16"></div>
      </div>
    </div>
  </div>
</div>

<script src="@glidejs/glide/dist/glide.min.js"></script>

<script>
  import Glide from '@glidejs/glide';

  const config = {
    type: 'carousel',
    animationDuration: 1500,
    autoplay: 7000,
    perView: 3,
    gap: 32,
    dragThreshold: false,
    breakpoints: {
      1280: {
        perView: 2,
      },
      1024: {
        perView: 1,
      },
    },
  };
  var glide = new Glide(document.getElementById('highlights-glide'), config).mount();

  glide.on('move.after', function(event) {
    var bullets = document.getElementById('highlights-bullets');
    for (const bullet of bullets!.children) {
      if (bullet.classList.contains('glide__bullet--active')) {
        bullet.classList.replace("bg-gray-200", "bg-white");
      } else {
        bullet.classList.replace("bg-white", "bg-gray-200");
      }
    };
  });
</script>


<script define:vars={{highlights, tutorials, tag_list}} is:inline>
  
  const checkboxes = document.querySelectorAll('.check');
  const filtersContainer = document.getElementById('filter-categories');
  const searchInput = document.getElementById('search-bar');

  // Initialize tutorials
  const tutorialsWrapper = document.getElementById('tutorials-wrapper');
  const tutorialsElements = [];
  tutorials.forEach((tutorial) => {
    const tutorialElement = createTutorialElement(tutorial);
    tutorialsElements.push(tutorialElement);
    tutorialsWrapper.appendChild(tutorialElement);
  });

  // Add filter event listeners
  filtersContainer.addEventListener('change', filterTutorials);
  searchInput.addEventListener('input', filterTutorials);

  // Create tutorial element
  function createTutorialElement(tutorial) {
    const tutorialElement = document.createElement('div');

    tutorialElement.className = 'item space-y-2';

    let tutorial_tags = tutorial.tags.map((tag) => (
        `<div class="inline-flex rounded-full bg-green-50 px-2.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
          ${tag}
        </div>`
    )).join(" ")

    tutorialElement.innerHTML = `
    <div class="flex flex-col gap-1 divide-gray-200 rounded-lg bg-white shadow-md h-80">
      <div>
        <h3 class="font-semibold text-md px-4 pt-2 text-lg">
          ${tutorial.title}
        </h3>
        <div class="px-4 gap-x-2 flex-wrap items-center">
          ${tutorial_tags}
        </div>
      </div>
      <div class="flex-grow overflow-y-auto px-4">
        <p class="text-slate-500 mt-2 leading-relaxed">
          ${tutorial.description}
        </p>
      </div>
      <div class="h-14 flex-shrink-0 flex justify-center items-center border-t border-gray-200">
        <a href="${tutorial.link}" class="rounded-bl-lg border border-transparent py-2 px-4 text-sm font-semibold text-gray-900">
          Go to Tutorial
        </a>
      </div>
    </div>`;

    return tutorialElement;
  }

  function filterHelper(tutorialElements, searchTerm, checkedCategories, tutorial_list) {
    // Loop over tutorials and check for matches
    tutorialElements.forEach((tutorialElement, index) => {
      const tutorial = tutorial_list[index];

      // Check to see if tutorial matches the search or checked items
      const matchesSearchTerm = (
        tutorial.title.toLowerCase().includes(searchTerm) 
        || tutorial.description.toLowerCase().includes(searchTerm)
      );
      
      var isInCheckedCategory = true;

      checkedCategories.forEach((tag) => {
        if (!(tutorial.tags.includes(tag))) {
          isInCheckedCategory = false;
        }
      });

      // Show or hide tutorial based on matches
      if (matchesSearchTerm && isInCheckedCategory) {
        tutorialElement.classList.remove('hidden');
      } else {
        tutorialElement.classList.add('hidden');
      }
    });
  }

  // Filter tutorials by search or checkbox
  function filterTutorials() {
    // Get search term
    const searchTerm = searchInput.value.trim().toLowerCase();
    // Get checked categories
    const checkedCategories = Array.from(checkboxes)
      .filter((check) => check.checked)
      .map((check) => check.id);

    filterHelper(tutorialsElements, searchTerm, checkedCategories, tutorials);
  }
</script>